<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<array>
	<dict>
		<key>text</key>
		<string>[微笑]</string>
		<key>image</key>
		<string>expression_1</string>
	</dict>
	<dict>
		<key>text</key>
		<string>[撇嘴]</string>
		<key>image</key>
		<string>expression_2</string>
	</dict>
	<dict>
		<key>text</key>
		<string>[色]</string>
		<key>image</key>
		<string>expression_3</string>
	</dict>
	<dict>
		<key>text</key>
		<string>[发呆]</string>
		<key>image</key>
		<string>expression_4</string>
	</dict>
	<dict>
		<key>text</key>
		<string>[得意]</string>
		<key>image</key>
		<string>expression_5</string>
	</dict>
	<dict>
		<key>text</key>
		<string>[流泪]</string>
		<key>image</key>
		<string>expression_6</string>
	</dict>
	<dict>
		<key>text</key>
		<string>[害羞]</string>
		<key>image</key>
		<string>expression_7</string>
	</dict>
	<dict>
		<key>text</key>
		<string>[闭嘴]</string>
		<key>image</key>
		<string>expression_8</string>
	</dict>
	<dict>
		<key>text</key>
		<string>[睡]</string>
		<key>image</key>
		<string>expression_9</string>
	</dict>
	<dict>
		<key>text</key>
		<string>[大哭]</string>
		<key>image</key>
		<string>expression_10</string>
	</dict>
	<dict>
		<key>text</key>
		<string>[尴尬]</string>
		<key>image</key>
		<string>expression_11</string>
	</dict>
	<dict>
		<key>text</key>
		<string>[发怒]</string>
		<key>image</key>
		<string>expression_12</string>
	</dict>
	<dict>
		<key>text</key>
		<string>[调皮]</string>
		<key>image</key>
		<string>expression_13</string>
	</dict>
	<dict>
		<key>text</key>
		<string>[呲牙]</string>
		<key>image</key>
		<string>expression_14</string>
	</dict>
	<dict>
		<key>text</key>
		<string>[难过]</string>
		<key>image</key>
		<string>expression_16</string>
	</dict>
	<dict>
		<key>text</key>
		<string>[囧]</string>
		<key>image</key>
		<string>expression_18</string>
	</dict>
	<dict>
		<key>text</key>
		<string>[抓狂]</string>
		<key>image</key>
		<string>expression_19</string>
	</dict>
	<dict>
		<key>text</key>
		<string>[吐]</string>
		<key>image</key>
		<string>expression_20</string>
	</dict>
</array>
</plist>
